<div class="container-fluid app-container">
  <div class="row">
    <div class="col-12 no-padding">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Dictionary Content</h1>
          <p class="lead">The Online Dictionary of Polish Borrowings in Yiddish</p>
        </div>
      </div>
      <div class="container content-container">
        <div class="row">
          <div class="col-12">
            <p>
              This dictionary is a product of a research project on Yiddish-Polish language contact.
              It is not a comprehensive and complete representation of Polish-derived vocabulary in Yiddish.
              The goal for this project was instead to look at the systemic and semantic
              interconnectedness of lexical borrowings based on the analysis of selected Polish-derived words
              in the lexical environment of both the source and the target language. In the process, we have taken into
              account three lexical relations: polysemy, interlingual equivalence, and derivation.
            </p>
            <ol>
              <li><b>Polysemy.</b> Including polysemy allows us to recognise all possible meanings of a particular lexeme and then map that information onto the donor language environment in order to juxtapose these meanings, searching for similarities and discrepancies.</li>
              <li><b>Interlingual equivalence.</b> We have sought to provide translation equivalents of the investigated lexemes in Polish, German, and English. Polish is the main donor language for the lexical content of this dictionary, German is the main donor language for Yiddish vocabulary as a whole, and English is the meta-language of the project, allowing every user to easily navigate through the dictionary.</li>
              <li><b>Derivation.</b> Determining derivational relations between lexemes gives an insight into Yiddish morphology. Mapping these onto the derivational relations of corresponding Polish lexemes allows us to recognize the scale of Slavic influence on Yiddish word-formation.</li>
            </ol>
            <p>
              Each Yiddish lexeme is supported by grammatical information on phonetics and morphology.
              Users can find data on the sources where the lexeme occured.
              There is also detailed information on etymology and lexical characteristics.
              For more see: <a routerLink="/instructions">How&nbsp;to&nbsp;use&nbsp;the&nbsp;dictionary</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
