.area-row{
  margin-right: 0;
  margin-left: 0;
}

.visualization-button{
  margin: 5px;
}

::ng-deep .mat-tab-label.mat-tab-disabled, .mat-tab-link.mat-tab-disabled {
  color: initial;
  font-weight: 700;
}
