@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~variables.scss";

.area-row{
  margin-right: 0;
  margin-left: 0;
}
.sense-detail-col{
  overflow-y: scroll;
}

.visualization-button{
  margin: 5px;
}

::ng-deep .mat-tab-label.mat-tab-disabled, .mat-tab-link.mat-tab-disabled {
  color: initial;
  font-weight: 700;
}

.main-area-row{
  height: calc(100vh - 75px);
  padding-bottom: 5px;
}

@include media-breakpoint-up(lg) {
  .main-area-row{
    height: calc(100vh - 145px);
  }
}

.img-mockup{
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url('/assets/img/graph_mockup.png');
}

.footer{
  position: fixed;
  width: 100%;
  bottom:0;
  /*background-color: rgb(220, 220, 220);*/
}


.footer{
  overflow-y: scroll;
  height: 120px;
  box-shadow: inset -5px 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.footer.dropped{
  transition: height .3s ease-in-out;
  height: 15px;
}

.footer.dropped:hover{
  height: 25px;
}

.footer .footer-content{
  margin-top: 15px;
  height: 90px;
}

.footer /deep/ .mat-tab-body-wrapper{
  max-height: 105px;
}
.footer /deep/ .mat-tab-group.vertical .mat-ink-bar{
  height: 50%;
}

.footer /deep/ .mat-tab-group.vertical.first-selected .mat-ink-bar{
  height: 50%;
  transform: translate(0, -100%);
}

/*taken from*/
/*https://stackblitz.com/edit/angular-material2-vertical-tabs*/
:host /deep/ .mat-tab-group.vertical {
  flex-direction: row;
}
:host /deep/ .mat-tab-group.vertical .mat-tab-header {
  border-bottom: none;
}
:host /deep/ .mat-tab-group.vertical .mat-tab-header-pagination {
  display: none !important;
}
:host /deep/ .mat-tab-group.vertical .mat-tab-labels {
  height: 100%;
  flex-direction: column;
}

:host /deep/ .mat-tab-group.vertical .mat-tab-label {
  height: 50%;
}

:host /deep/ .mat-tab-group.vertical .mat-ink-bar {
  height: 100%;
  left: 98% !important;
}
:host /deep/ .mat-tab-group.vertical .mat-tab-body-wrapper {
  flex: 1 1 auto;
}

.sense-detail-col .card-body{
  padding: 0;
}

.sense-detail-col .card {
  margin-top: 20px;
  border: none;
}

.graph-area{
  float:left;
  overflow: hidden;
}

.expand-btn{
  color: white;
  position: absolute;
  padding: 0;
  border: 0;
  transition: width .1s ease-in-out;
  background-color: #ececeb;
}
.expand-btn .fa{
  font-size: 0.5em;
  transition: font-size .1s ease-in-out;
}
.expand-btn:hover .fa{
  font-size: 1em;
}

.expand-btn:focus{
  outline: 0;
}

.expand-right{
  cursor: pointer;
  top: 0;
  right: 0;
  height: 100%;
  width: 15px;
}

.expand-right:hover i.fa{
  border: 0;
  background: #ececeb;
  color: white;
  border-radius: 2.5rem;
  width: 11rem;
  height: 5rem;
  padding: 2rem .6rem;
  margin: -10px;
  text-align: left;
}
.expand-right:hover{
  width: 20px;
}
.expand-footer{
  z-index: 1000;
  top:0;
  left: 0;
  width: 100%;
  height: 15px;
}

.expand-footer:hover i.fa{
  background: #ececeb;
  color: white;
  border-radius: 16.5rem;
  width: 4rem;
  height: 0rem;
  padding: 2rem .6rem;
  margin: -25px;
}
.expand-footer:hover{
  height: 25px;
}

.relations-content{
  margin: auto;
  width: fit-content;
}
.show-graph-btn{
  width: 100%;
  margin: 15px 0;
}
.title-row{
  min-height:80px;
}
