.area-row{
  margin-right: 0;
  margin-left: 0;
}

.visualization-button{
  margin: 5px;
}

::ng-deep .mat-tab-label.mat-tab-disabled, .mat-tab-link.mat-tab-disabled {
  color: initial;
  font-weight: 700;
}

.table tr:first-child td{
  border-top: none;
}

.table tr td:first-child{
  text-align: right;
}


@media (min-width: 992px) {
  .table tr td:first-child{
    width: 45%;
  }
}

@media (min-width: 1250px) {
  .table tr td:first-child{
    width: 30%;
  }
}











