# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

bin/
target/
build/
node_modules/
.settings/
.idea/
.gradle/
.metadata
.classpath
.project
.log
.iml
.ipr
.iws
.springBeans
.externalToolBuilders/
*~

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
wordnetloom-client/logs/
