<div class="container-fluid app-container">
  <div class="row">
    <div class="col-12 no-padding">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Sources</h1>
          <p class="lead">The Online Dictionary of Polish Borrowings in Yiddish</p>
        </div>
      </div>
      <div class="container content-container">
        <div class="row">
          <div class="col-12">
            <p>
              The main goal of our investigation was not to create an exhaustive dictionary but rather to establish the grade of rootedness of Polish loanwords in Yiddish. Therefore, the lexicographical study was based on a representative sample of relatively comprehensive and varied sources. That is why the list contains not only well established borrowings but also vocabulary hitherto not recorded in dictionaries and nonce borrowings, i.e. words occurring occasionally due to code switching.
            </p>
            <p>
              The sources of our corpus can be divided into four main categories:
            </p>
            <ol>
              <li>Printed, predominantly bilingual, Yiddish dictionaries. Following the findings of previous lexicographical undertakings was crucial in order to gather the basic Yiddish vocabulary and also to recognise their shortcomings.</li>
              <li>Vocabulary lists published in academic works. Utilising vocabulary gathered for the purpose of a particular case study provides an insight into specific domains or language varieties, for instance the domain of botanics or the tailors’ jargon.</li>
              <li>Archival sources. In this study they are represented by a selection of Yiddish writing from the Emanuel Ringelblum Warsaw Ghetto Archive. Together with the previous category, these can give an insight into the vernacular language - an important addition to lexicography which is always a product of a specific language planning project.</li>
              <li>Online sources. This category includes the most varied selection of works, among them online dictionaries and databases of research projects.</li>
            </ol>

            <p>Below you can find the list of sources utilised in the compilation of the dictionary. </p>

            <ul>
              <li>Astravuh, Aljaksandar. 2008. Idysh-Bjelaruski Slownik. Minsk: Medisont.</li>
              <li>Beinfeld, Solon, and Harry Bochner. 2013. Comprehensive Yiddish-English Dictionary. Indiana University Press.</li>
              <li>Berenstein, Icchak. 1941. Hunger. ARG 1210 Ring I 600</li>
              <li>Geller, Ewa. 1994. Jidysz - język Żydów polskich. Warszawa: PWN.</li>
              <li>Geller, Ewa. 2001. Warschauer Jiddisch. Tübingen: Niemeyer Verlag</li>
              <li>Geller, Ewa 2015. Sejfer-derech ejc ha chajim. Przewodnik po drzewie żywota. Warszawa: Wydawnictwo Muzeum im. Jana III Sobieskiego w Wilanowie.</li>
              <li>Harkavy, Alexander. [1928] 1988. Yiddish-English-Hebrew Dictionary. New York: Schocken Books</li>
              <li>Kerler, Dov-Ber. 1999. The Origins of Modern Literary Yiddish, Oxford: Clarendon Press.</li>
              <li>Kondrat, Agata. 2012. Der Jidiszer Sznajder: Żydowsko-Polski Kontakt Językowy Na Przykładzie Pola Semantycznego ‘Krawiectwo’ w Języku Jidysz. Unpublished Ph.D. Thesis.</li>
              <li>Kotik, Jecheziel. 1922. Majne zixrojnes. Eršter tejl. Berlin: Klal-Farlag.</li>
              <li>Kunin, I. 1939. Mener-šnajderaj. Praktišer hantbux lojt dem sistem "Adam", Paris. Vilne.</li>
              <li>Kupfer, Franciszek, and Tadeusz Lewicki. 1956. Źródła hebrajskie do dziejów Słowian i niektórych innych ludów środkowej i wschodniej Europy. Wrocław, Warszawa: Ossolineum.</li>
              <li>Levando, Fanni. 1938. Vegetariš-dietetišer koxbuch. Vilne: Kleckin-Farlag.</li>
              <li>Moskovich, Wolf. 2013. From Leshon Kna’an to Yiddish: Some case studies, in: Bláha, Ondřej; Dittmann, Robert; Ulična, Lenka (eds.). Knaanic Language: Structure and Historical Background, Prague: Academia, p. 191-199.</li>
              <li>Neuberg, Simon. 1999. Pragmatische Aspekte der jiddischen Sprachgeschichte am Beispiel der ‘Zenerene‘. Hamburg: Helmut Buske Verlag, p. 89-102.</li>
              <li>Proletarišer Gedankt. 1941. ARG 1328 Ring I 694</li>
              <li>Pryłucki, Cwi. 1940-1941. Pamiętnik. ARG 510 Ring II 175.</li>
              <li>Schaechter-Viswanath, Gitl, and Paul Glasser, eds. 2016. Comprehensive English-Yiddish Dictionary. Bloomington-Indiana: Indiana University Press.</li>
              <li>Schaechter, Mordkhe. 2005. Plant Names in Yiddish. New York: YIVO Institute for Jewish Research.</li>
              <li>Stutchkoff, Nahum. 1950. Der Ojcer Fun Der Jidišer Šprax. New York: YIVO.</li>
              <li>Tytelman, Nechemiasz. 1942. Fun der serje hojf-zinger, betler-kinder, zejere milxome-lider. ARG 1243 Ring I 1053.</li>
              <li>Tytelman, Nechemiasz. 1942. Fun der serje hojf-zinger, betler-kinder, zejere milxome-lider. ARG 1242 Ring I 172</li>
              <li>Tytelman, Nechemiasz. Glater. 1941. Baj komunikat. ARG 1218 Ring I 1166</li>
              <li>Wexler, Paul. 2002. Two-tiered Relexifiaction in Yiddish. Berlin/New York: Mouton de Gruyter.</li>
            </ul>

            <p>Online sources:</p>
            <ul>
              <li><a target="_blank" href="http://eydes.de/">Language and Culture Atlas of Ashkenazic Jewry EYDES</a></li>
              <li><a target="_blank" href="http://web-corpora.net/YNC/search/">Corpus of Modern Yiddish</a></li>
              <li><a target="_blank" href="http://www.woorden.org/woord/Jiddische">Jiddische Nederlands Woordenboek</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
