<!--<app-header [hideSecondRow]="true"></app-header>-->

<div class="container-fluid app-container">
  <div class="row">
    <div class="col-12 jumbotron jumbotron-fluid welcome">
        <div class="container">
          <!--<h5 class="display-4" [innerHtml]="'welcome_msg' | translate | saveHtml"></h5>-->
          <h1 [innerHtml]="'welcome_msg' | translate | saveHtml"></h1>
          <p class="lead">{{ 'home_page_small_instruction'  | translate}}
          </p>
        </div>
      <app-input-with-keyboard [floatingSearch]="false"></app-input-with-keyboard>

      <a routerLink="/detail/search/*"><i>{{'go_to_advanced_search' | translate}}</i></a>
    </div>
  </div>

  <div class="container">
    <div class="row">
    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" class="btn btn-primary">go</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" class="btn btn-primary">go</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" class="btn btn-primary">go</a>
        </div>
      </div>
    </div>
  </div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>Lorem ipsum dolor sit amet</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut posuere arcu. Phasellus quis justo et metus blandit tempus a nec ex. Fusce sollicitudin consequat diam. Vestibulum ut dolor sit amet urna tempus ornare non eget mi. Integer quis odio eu purus viverra ornare. Morbi aliquet viverra dapibus. Integer mollis turpis risus, iaculis tempus metus fringilla et. Phasellus ut orci est. Ut dui dolor, interdum ac tincidunt sit amet, vulputate maximus lacus. Nunc semper consectetur quam, sit amet lobortis purus bibendum quis. Cras mattis augue sed mauris iaculis, ac mattis neque bibendum. Vestibulum dapibus pellentesque purus. Nullam non interdum augue. Mauris urna enim, gravida quis viverra quis, consectetur quis turpis.</p>
      </div>
      <div class="col-sm-6">
        <h4>Lorem ipsum dolor sit amet</h4>
        <p>Praesent vel feugiat elit, id placerat tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed semper gravida nulla non rutrum. Proin vehicula nec arcu et accumsan. Mauris eu venenatis odio, eu dignissim urna. Nulla non ornare ex. Aenean semper elit dictum quam luctus suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer posuere purus justo, ut sodales mi placerat sed. Nunc maximus nulla ac consequat scelerisque.</p>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
</div>


<footer class="container-fluid">
  <div class="row">
    <div class="col-12">
    <div class="container">
      <div class="col-12">
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut posuere arcu. Phasellus quis justo et metus blandit tempus a nec ex. Fusce sollicitudin consequat diam. Vestibulum ut dolor sit amet urna tempus ornare non eget mi. Integer quis odio eu purus viverra ornare. Morbi aliquet viverra dapibus. Integer mollis turpis risus, iaculis tempus metus fringilla et. Phasellus ut orci est. Ut dui dolor, interdum ac tincidunt sit amet, vulputate maximus lacus. Nunc semper consectetur quam, sit amet lobortis purus bibendum quis. Cras mattis augue sed mauris iaculis, ac mattis neque bibendum. Vestibulum dapibus pellentesque purus. Nullam non interdum augue. Mauris urna enim, gravida quis viverra quis, consectetur quis turpis.

          Praesent vel feugiat elit, id placerat tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed semper gravida nulla non rutrum. Proin vehicula nec arcu et accumsan. Mauris eu venenatis odio, eu dignissim urna. Nulla non ornare ex. Aenean semper elit dictum quam luctus suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer posuere purus justo, ut sodales mi placerat sed. Nunc maximus nulla ac consequat scelerisque.

        </p>
      </div>
    </div>
    </div>
  </div>
</footer>
