<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div class="form-group row">
    <div class="col-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input class="form-control" type="text" placeholder="lemmat, zapis fonetyczny, odmiana..."
          name="search" ngModel>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <select class="form-control"
              name="type" ngModel>
        <option value="" disabled selected>Typ</option>
        <option>Typ1</option>
        <option>Typ2</option>
        <option>Typ3</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <select class="form-control"
              name="partOfSpeech" ngModel>
        <option value="" disabled selected>Part of Speech</option>
        <option>Typ1</option>
        <option>Typ2</option>
        <option>Typ3</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <select class="form-control"
              name="grammaticalGender" ngModel>
        <option value="" disabled selected>Grammatical gender</option>
        <option>Typ1</option>
        <option>Typ2</option>
        <option>Typ3</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <select class="form-control"
              name="style" ngModel>
        <option value="" disabled selected>Style</option>
        <option>Typ1</option>
        <option>Typ2</option>
        <option>Typ3</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <select class="form-control"
              name="domain" ngModel>
        <option value="" disabled selected>Domain</option>
        <option>Typ1</option>
        <option>Typ2</option>
        <option>Typ3</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <select class="form-control"
              name="status" ngModel>
        <option value="" disabled selected>Status</option>
        <option>Typ1</option>
        <option>Typ2</option>
        <option>Typ3</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <select class="form-control"
              name="attested" ngModel>
        <option value="" disabled selected>Attested(date)</option>
        <option>Typ1</option>
        <option>Typ2</option>
        <option>Typ3</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <select class="form-control"
              name="source" ngModel>
        <option value="" disabled selected>Source</option>
        <option>Typ1</option>
        <option>Typ2</option>
        <option>Typ3</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <select class="form-control"
              name="relation" ngModel>
        <option value="" disabled selected>Relation</option>
        <option>Typ1</option>
        <option>Typ2</option>
        <option>Typ3</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-outline-success btn-block">Search</button>
</form>
