<div class="form-container">
<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="lemmat, zapis fonetyczny, odmiana..." value="" name="lemma" ngModel>
  </mat-form-field>

  <mat-form-field *ngFor="let searchFieldName of searchKeys">
    <mat-select placeholder="{{searchFields[searchFieldName]['name'] }}"  [name]="searchFieldName" ngModel>
      <mat-option [value]=""></mat-option>
      <mat-option *ngFor="let opt of searchFields[searchFieldName]['searchOptions']" [value]="opt.id"> {{opt.name}} </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button type="submit" mat-raised-button color="primary"><i class="fa fa-search" aria-hidden="true"></i> Search</button>

</form>
</div>
