.keyboard-button{
  padding: 3px 4px;
  border: solid #333333 2px;
  border-radius: 3px;
}
.app-container{
  margin-top: 70px;
  margin-left: 60px;
  overflow: hidden;
}
nav{
  color: white;
  background-color: #4a4a4a;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}
nav .title{
  line-height: 30px;
}
nav .title span{
  background-color: #f6001e;
  padding: 20px;
  margin-top: -100px;
  margin-bottom: -100px;
}

.search-section{

}
a{
  color: white;
}
a:hover{
  color: #f6001e;
}
footer{
  text-align: right;
  margin-top:20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #4a4a4a;
  color: white;
}

