<ng2-slim-loading-bar></ng2-slim-loading-bar>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <h3 class="title text-center"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Wordnet viewer- Słowosieć</h3>
    </div>
</nav>

<div class="container-fluid app-container">
  <div class="row">
    <div class="col-sm-2">
      <div class="row search-section">
        <div class="col-xs-12">
          <app-search (selectedLemmaEvent)="handleSelectLemmaEvent($event)"></app-search>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>Tips:</h4>
          <p>Hold <span class="keyboard-button">ctrl</span> &nbsp; to mark many elements at once</p>
          <p>Right click on diamond element to show hidden nodes</p>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <app-graph-main></app-graph-main>
    </div>

    <div class="col-sm-2">
      <app-synset-detail [synsetId]="currentNode"></app-synset-detail>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      Created by <a href="http://www.wojciechrauk.pl">Wojciech Rauk</a> and Tomasz Naskręt for <a href="http://clarin-pl.eu">Clarin-PL</a>
    </div>
  </div>
</footer>
