<div class="container-fluid app-container">
  <div class="row">
    <div class="col-12 no-padding">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">How to use the dictionary</h1>
          <p class="lead">The Online Dictionary of Polish Borrowings in Yiddish</p>
        </div>
      </div>
      <!--<div class="container-fluid">-->
        <div class="container">
          <div class="col-12">
            <h4 class="padding-35">Menu:</h4>
            <ol>
              <li><a [routerLink]="['/instructions']" fragment="dictionary-structure">Dictionary structure</a></li>
              <li><a [routerLink]="['/instructions']" fragment="home-page">Home page</a></li>
              <li>
                <a [routerLink]="['/instructions']" fragment="dictionary-view">Dictionary view</a>
                <ol>
                  <li><a [routerLink]="['/instructions']" fragment="search-bar">Search bar</a></li>
                  <li><a [routerLink]="['/instructions']" fragment="wordlist">Wordlist</a></li>
                  <li><a [routerLink]="['/instructions']" fragment="relations-graph">Relations graph</a></li>
                  <li><a [routerLink]="['/instructions']" fragment="info-window">The linguistic information window</a></li>
                </ol>
              </li>
              <li><a [routerLink]="['/instructions']" fragment="advanced-search">Advanced search</a></li>
            </ol>
          </div>
        </div>
      <!--</div>-->
      <div class="container content-container">
        <div class="row">
          <div class="col-12">
            <ol>
              <li id="dictionary-structure">
                <h5 class="list-item-title">A few words on the structure of the dictionary</h5>

                <p>The Online Dictionary of Polish Borrowings in Yiddish is designed around the concept of <em>word families</em>, i.e. groups of related (cognate) words. For example, in English the verb <em>to stand</em> and the noun <em>standing</em> are parts of one word family, which is evident from the fact that they share a common stem: {{'{'}}stand{{'}'}}. Similarly in Yiddish, the words <em>onbregik</em> &lsquo;boundless&rsquo; and <em>arumbregeven</em> &lsquo;to hem&rsquo; belong to one family, where the common stem is {{'{'}}breg{{'}'}}.</p>
                <p>In our dictionary, every word family is centered around one word called the derivational base. Other words in the family are its derivatives. These may also have further words derived from them. Additionally, words that do not formally have the same stem as the rest but are etymologically related are also included in the family. This way, every time you search for a given word, you automatically gain access to all related units.</p>
              </li>

              <li id="home-page">
                <h5 class="list-item-title">Home page</h5>
                <p>From here you can perform basic searches. Simply type the chosen word in Yiddish script or the YIVO transliteration and you will be taken to the dictionary view. Leaving the field empty and pressing <em>search</em> will display all entries in the dictionary.</p>
                <p>You will probably notice that an onscreen keyboard with Yiddish characters appears as soon as you click on the search field. It is not necessary to use it, you can go on typing regardless. However, if you find the onscreen keyboard distracting, you can click on the keyboard icon left from the search field to turn it off. Clicking again will turn it back on.</p>
                <p>If you wish to refine your search, you can use advanced search criteria. Click on the cogs icon left of the search field to display advanced settings. The various options found in this menu will enable you to search the dictionary based on different types of information included in the entries. Since it is more prudent to first explain what these information types mean, the advanced search options will be described further down in this document.</p>
              </li>

              <li id="dictionary-view">
                <h5 class="list-item-title">The dictionary view</h5>
                <p>The dictionary view is divided into four main spaces: 1) the search bar (top), 2) the wordlist (left), 3) the relations graph (middle), 4) the linguistic information window (right).</p>

              <ol>
                  <li id="search-bar">
                    <h5 class="list-item-title">The search bar</h5>
                    <p>Works the same as on the Home Page.</p>
                  </li>

                  <li id="wordlist">
                    <h5 class="list-item-title">The wordlist</h5>
                    <p>The <em>wordlist </em>shows your search results. Each entry on the list represents a borrowing from Polish, which may be different from the forms generally recognized in Standard Yiddish. This fact will always be noted in the <em>linguistic information window</em> on the right (under <em>Comments</em>). Other forms of the same word, its <em>variants</em>, are listed below the entry and will always include the Standard Yiddish forms. If the word you have entered in the search field is a <em>variant</em>, the <em>wordlist </em>will always display the base entry, to which that <em>variant</em> belongs.</p>
                    <p>Note that some words in the list may be repeated two or more times with different numbers. This is due to the fact, that the dictionary treats different meanings of the given word as separate entries. This will be explained further under <strong>Polysemy</strong> below.</p>
                    <p>Above the list itself you will find the transliteration tab. Here you can select the writing system in which the search results will be displayed. You can choose between the standardized Yiddish alphabet, the YIVO transliteration, and the philological transliteration, used in some scientific works. The writing system of the <em>wordlist </em>defaults to what you have used in your search query. Please note that for technical reasons the entries will always be displayed in Latin alphabetical order.</p>
                    <p>Clicking on an entry will select it for display in the <em>relations graph</em> and the <em>linguistic information window</em>. If you click on a variant, the <em>graph</em> will display the main entry, but information on the <em>variant</em> will be shown in the <em>linguistic information window</em>.</p>
                  </li>
                  <li id="relations-graph">
                    <h5 class="list-item-title">The relations graph</h5>
                    <p>On the top of the <em>graph</em> window you will see basic grammatical information on the chosen word &ndash; part of speech and grammatical qualifiers, i.e. gender.</p>
                    <p>You can click on any word visible in the graph to select it. This will display the basic information about it in the area above and details to the right, in the <em>linguistic information window</em>.</p>
                    <p>The <em>relations graph</em> itself is used to display and navigate the word families included in the dictionary, as well as their interlingual relations. Units in the dictionary are displayed as text bubbles. The different relations between them are depicted as arrows in different colors. Buttons on the left, right, and bottom of the bubbles are used to expand and hide the relations. If a button is absent on one or more sides of the bubble, this means that the graph cannot be expanded further in these directions from the given bubble.</p>
                    <p>You can move the <em>graph</em> around on the screen by clicking on empty space and holding the mouse button. You can also do this using the mini-map in the upper left corner. Each bubble can also be moved individually by clicking and dragging. Alternatively, you can hold the control key and drag a box around several bubbles to select them all. This will allow you to move them around as one group. If you find the <em>graph</em> window too small, you can close the <em>wordlist</em> and <em>linguistic information window </em>by clicking on their outer edge.</p>
                    <p>Four types of relations are depicted in our dictionary: <em>polysemy</em>, <em>derivation</em>, <em>common etymological root </em>and <em>interlingual equivalence</em>. Each type of relation is marked visually by 1) the color of the arrow, 2) the direction of expansion, and 3) the abbreviation above the arrow, which may also include additional information.</p>

                    <h6>Polysemy:</h6>

                    <p>color: <strong class="color-red">red</strong>, direction: down, abbreviation: ps</p>
                    <p>In our dictionary, each lexical word is divided into units denoting individual meanings. The number next to the word in every bubble marks a different meaning. Hence <em>polysemy </em>is not so much a relation between words as a depiction of a single word&rsquo;s internal semantic structure.</p>

                    <h6>Derivation:</h6>
                    <p>color: <strong class="color-green">green</strong>, direction: left, abbreviation: der</p>
                    <p>In the dictionary, the <em>derivation</em> relation connects a base word with its derivatives. Words connected by the <em>derivation</em> relation make up word families in the traditional sense.</p>
                    <p>Abbreviation extensions note the given derivative&rsquo;s part of speech:</p>
                    <ul>
                      <li><b>der>n</b>: noun</li>
                      <li><b>der>v</b>: verb</li>
                      <li><b>der>adj</b>: adjective</li>
                      <li><b>der>adv</b>: adverb</li>
                    </ul>

                    <h6>Common etymological root:</h6>
                    <p>color: <strong class="color-black">black</strong>, direction: left, abbreviation: cer&nbsp;</p>
                    <p>Some words, though not derived from one another, may still be connected by common ancestry. This is shown by the <em>common etymological root</em> relation. Examples of such words include Yiddish <em>pashe</em> &lsquo;pasture, fodder&rsquo; and <em>pastex</em> &lsquo;herder&rsquo;. They have certain formal similarities and are semantically connected but, unlike derivatives, they do not share a single stem, as <em>pashe</em> and <em>pashen</em> &lsquo;to pasture, to feed (animals)&rsquo; for example.</p>
                    <p>All words of common etymological ancestry form what we have termed an <em>extended word family</em>.</p>

                    <h6>Interlingual equivalence:</h6>
                    <p>color: <strong class="color-blue">blue</strong>, direction: right, abbreviation: eq&nbsp;</p>
                    <p>This relation connects a given word with its semantic equivalents in other languages (also referred to as <em>interlingual synonyms</em>).</p>
                    <p>Abbreviation extensions note the equivalent&rsquo;s language:</p>
                    <ul>
                      <li><b>Eq_Pol:</b> Polish</li>
                      <li><b>Eq_Ger:</b> German</li>
                      <li><b>Eq_Eng:</b> English</li>
                    </ul>
                  </li>

                  <li id="info-window">
                    <h5 class="list-item-title">The linguistic information window</h5>
                    <p>The <em>linguistic information window</em> displays detailed information on the word selected from the graph or one of its <em>variants</em>. The latter can be selected either from the <em>wordlist</em> or by clicking on the respective tab on the top of the <em>linguistic information window</em>.</p>
                    <p>Below you will find explanations of the various elements of the window. Please note that the detailed information presented here is meant primarily for the purposes of linguistic research. Hence not all the terms used will be explained in this document. If necessary, please refer to linguistic or encyclopedic sources.</p>

                    <p><strong>Spelling types:</strong> each word is shown in Yiddish script, the YIVO transliteration, and the philological transliteration.</p>

                    <p><strong>Part of speech:</strong> each unit is characterized as a specific part of speech. The possibilities are: noun, verb, adjective, adverb, adjective/adverb, conjunction, interjection, particle, pronoun, preposition. If the selected entry is a constituent consisting of more than one word it is described as <em>phrase</em> instead.</p>

                    <p><strong>Grammatical qualifiers:</strong> these describe the essential grammatical categories of words. They apply to nouns and verbs only and are different for both parts of speech.</p>
                    <p>For nouns: m. = masculine gender, f. = feminine gender, n. = neutral gender, pl. = plurale tantum.</p>
                    <p>For verbs: tr. = transitive, intr. = intransitive, ref. = reflexive.</p>

                    <p><strong>Inflection:</strong> this field includes the plural and diminutive forms of nouns.</p>

                    <p><strong>Meaning:</strong> the meaning of the chosen word in English; descriptive when necessary.</p>
                    <p><strong>Semantic field:</strong> the subject or segment of reality the given word belongs to.</p>
                    <p>Because the possible number of <em>semantic fields</em> is virtually infinite, we have adopted a semi-intuitive system of keywords to provide a general idea of the word&rsquo;s place in the speakers&rsquo; linguistic worldview.</p>
                    <p>For example the <em>semantic field</em> to which Yiddish <em>kurtke</em> &lsquo;jacket&rsquo; belongs is simply characterized with the keyword <em>Clothing</em>. On the other hand, describing the <em>semantic field</em> for <em>arumbregeven</em> &lsquo;to hem a piece of clothing or cloth&rsquo; requires a combination of keywords: <em>Craft, production, construction</em> and <em>Clothing</em>, as the word denotes an activity related to clothing production.</p>
                    <p>Sometimes modifiers may be added to keywords for further nuancing, e.g. <em>tshaste</em> &lsquo;cake&rsquo; may be characterized as <em>Nutrition (Human)</em>, while <em>pashe</em> &lsquo;fodder&rsquo; - as <em>Nutrition (Animal)</em>.</p>

                    <p><strong>Style:</strong> the register of a given word. The possibilities are: elaborate, colloquial, jargon, vulgar, euphemistic, ironic, pejorative, augmentative, hypocoristic, archaic.</p>

                    <p><strong>Lexical characteristic</strong>[1] <strong>:</strong> this field includes additional characteristics, related to the way the word is constructed. The possibilities are:</p>

                    <p><em>derivational hybrid</em>: a word made up of clearly demarcated elements from different languages. For example <em>farplonten</em> &lsquo;ensnare, entangle&rsquo; consists of the Germanic prefix {{'{'}}far{{'}'}}, the Slavic stem {{'{'}}plont{{'}'}} and the Germanic inflectional ending {{'{'}}en{{'}'}}.</p>

                    <p><em>hybrid</em>: a word made up of elements from different languages which are not clearly demarcated and separable. Example: <em>plaplen</em> &lt; German <em>plappern</em> and Polish <em>paplać</em> which seem to have fused into a composite stem {{'{'}}plapl{{'}'}}.</p>

                    <p><em>phrase</em>: this is to indicate that the entry is a constituent consisting of more than one word.</p>

                    <p><strong>Rootedness:</strong> for the purpose of our research project we have proposed a new typological criterion for classifying lexical units in loanword research which we have termed <em>rootedness</em>. It may be defined as the degree of interconnectedness of a given word within the linguistic system. If a given concept has developed many metaphorical uses for the word that describes it and a large derivative network, we may claim that it is firmly rooted in the lexical system. Based on this criterion, we can classify each word as:</p>

                    <p><em>occasional</em>: words used only for the sake of the text or conversation they appeared in, with little, if any, connection to other elements of the lexicon.</p>

                    <p><em>borrowing</em>: words that may be firmly rooted based on prolonged and frequent use in Yiddish.</p>

                    <p><em>relic</em>: words that are firmly rooted because they were carried over from the pre-Yiddish, Slavic speech of Eastern European Jews and remained in frequent use.</p>

                    <p><em>relic candidate</em>: suspected relics the status of which has not yet been conclusively determined.</p>

                    <p><em>uncertain</em>: words the rootedness of which cannot be established.</p>

                    <p><strong>Etymology:</strong> the source-language cognate, the given word&rsquo;s postulated etymological ancestor.</p>

                    <p><strong>Age:</strong> the word&rsquo;s age based on attestation date and described broadly as 1) <em>up to 1800</em>, 2) <em>1800-1939</em>, 3) <em>1939-1955</em>, 4) <em>unknown</em>.</p>

                    <p><strong>Sources:</strong> the list of sources in which the word or some aspect of it (such as the plural form or a specific meaning) was attested.</p>

                    <p><strong>Etymological root:</strong> contrary to <em>etymology</em>, this field does not contain the direct etymological ancestor of the given unit but rather an abstracted primordial stem common to all the words in the <em>extended family</em>.</p>

                    <p><strong>Morphology:</strong> this field shows the word separated into morphemes, eg. <em>iberkhitreven</em> &lsquo;to outwit&rsquo; is segmented into <em>iber | khitr | eve | n</em>. Hovering the cursor over each morpheme will display additional information.</p>

                    <p><strong>Phonetic transcription:</strong> the word&rsquo;s pronunciation in Standard Yiddish. May sometimes also include other pronunciation variants. The phonetic script used conforms to the IPA standard: <a href="https://www.internationalphoneticassociation.org/"><u>https://www.internationalphoneticassociation.org/</u></a></p>
                    <p>(see also: <a href="https://en.wikipedia.org/wiki/International_Phonetic_Alphabet"><u>https://en.wikipedia.org/wiki/International_Phonetic_Alphabet</u></a>)</p>

                    <p>Some of the above-mentioned categories may be used to quickly find all the entries that share them. Simply click on an element in each category to display such entries in the wordlist. The &ldquo;navigable&rdquo; categories are: <em>semantic field</em>, <em>style</em>, <em>lexical characteristic</em>, <em>rootedness</em>, <em>age</em>, <em>etymological root</em>, and <em>morphology</em>. For example, if you click on the suffix ‑EVE‑ in <em>iber | khitr | eve | n</em>, you will see all the words that have it.</p>
                </ol>
              </li>
              <li id="advanced-search">
                <h5 class="list-item-title">Advanced search.</h5>
                <p>The advanced search options overlay is made up of drop‑down menus and additional search fields. The former allow you to filter the database based on those categories from the <em>linguistic information window</em> that have a fixed list of values, such as <em>part of speech</em> or <em>semantic field</em>. The latter are necessary for searches based on categories such as <em>etymology</em>, which do not have a set list of values. The advanced search options will provide you two ways in which you can refine your search.</p>

                <p><strong>Search by lexical entities:</strong> these options allow you to search the database in a number of different ways. By choosing a specific <em>prefix</em> or <em>suffix </em>or typing in a <em>root</em> you can find words that comprise the specified word‑building particles (morphemes). Note that the lists of <em>prefixes</em> and <em>suffixes</em> only include Slavic-derived units. For elements from other languages, type the appropriate string under <em>constituent</em>. By specifying an <em>etymology</em> you will be able to find all words that stem from the same etymological ancestor. Typing in an <em>etymological root</em> will let you review the entire <em>extended word family</em> that is centered around it.</p>

                <p><strong>Narrow down:</strong> this option allows you to filter the database based on metalinguistic categories from the <em>linguistic information window</em>. Clicking on <em>narrow down</em> will open a list of such categories. You can then open drop-down menus by clicking on each category and choose the desired value. You can filter the database based on several categories at once.</p>

                <p>It is possible to use all the different advanced search options at once. For example, you can choose to search for a specific <em>etymological root</em> but limit the results to nouns of feminine gender by specifying these values as filters.</p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
