ul.possible-lemmas-list{
  padding-left: 5px;
  max-height: 700px;
  max-height: calc(100vh - 310px);
  overflow-y: scroll;
  list-style-type: none;

}
ul.possible-lemmas-list li{
  text-align: center;
  padding: 4px 8px;
  border-bottom: 1px solid #ddd;
  animation: all 1s;
}
ul.possible-lemmas-list li:hover{
  cursor: pointer;
  background-color: #f7f7f7;
}

button{
  background-color: #4a4a4a;
  color: white;
  border: none;
}
.form-control:focus{
  border-color: #f6001e;
}
input::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
input {
  border-radius: 0;
  width: 100%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #f6001e;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #f6001e 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #f6001e 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #f6001e;
}
input:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #f6001e;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}
