@import "~variables.scss";

.long-width-input{
  min-width: 300px;
  padding: 0 10px;
}

.fancy-checkbox i {
  font-size: 1.2em;
  color: #3f51b5;
  cursor: pointer;

  margin: 5px 6px -2px 3px;
}
.fancy-checkbox i.unchecked {
  color: rgb(178, 178, 178);
}
.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
  display: none;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .checked
{
  display: inline-block;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked
{
  display: none;
}

.fancy-checkbox .chevron-rotate{
  font-size: 0.6em;
  position: relative;
  bottom: -8px;
  left: -7px;
}

.fancy-checkbox .chevron-rotate.unchecked {
  font-size: 0.6em;
  color: rgb(178, 178, 178);
}

/* advanced panel*/
.advanced-search-panel{
  margin: 0 20px 5px 20px;
}
.advanced-search-panel.floating{
  margin: 0;
  z-index: 1000;
  position: fixed;
  width: 90%;
  top: 50px;
  right: 5px;
}
@media (min-width: 768px) {
  .advanced-search-panel.floating{
    width: 50%;
    top: 108px;
    right: 15px;
  }
}

@media (min-width: 992px) {
  .advanced-search-panel.floating{
    width: 65%;
    top: 108px;
    right: 17.5%;
  }
}

.advanced-search-panel .mat-expanded{
  padding-top: 40px;
}

::ng-deep .advanced-search-form > .mat-form-field-wrapper.mat-form-field-wrapper > .mat-form-field-underline.mat-form-field-underline{
  background-color: black;
}

.advanced-search-form input{
  color: black;
}

/deep/ .mat-keyboard-key {
  border-radius: 4px !important;
}

/deep/ .mat-keyboard-wrapper {
  background-color: rgba(lighten($primary-color, 15%), 10%) !important;
}

/*keyboard mobile fix*/
@media (max-width: 900px){
/deep/ .mat-keyboard-key {
  padding: 4px !important;
}
/deep/ .mat-keyboard-col {
  flex: unset !important;
  flex-grow: 0 !important;
  flex-basis: 0 !important;
  flex-direction: column !important;
}

/*from internet  https://github.com/ngx-material-keyboard/core/issues/18*/
/deep/ .mat-keyboard-container {

  padding: unset !important;
  position: absolute !important;
  bottom: 0% !important;
  min-width: 100% !important;
  width: fit-content !important;
}

/deep/ .mat-keyboard-container .mat-keyboard-key .mat-keyboard-key{
  padding: 0 0.485rem !important;
}

/deep/ .mat-keyboard-row:nth-child(1) .mat-keyboard-col{
  flex-basis: 9.81% !important;
}
/deep/ .mat-keyboard-row:nth-child(2) .mat-keyboard-col{
  flex-basis: 8.35% !important;
}
/deep/ .mat-keyboard-row:nth-child(3) .mat-keyboard-col{
  flex-basis: 7.9% !important;
}
/deep/ .mat-keyboard-row:nth-child(4) .mat-keyboard-col,
/deep/ .mat-keyboard-row:nth-child(5) .mat-keyboard-col{
  flex-basis: 25% !important;
}

/deep/ .mat-keyboard-col{
  padding: 1px !important;
}
/deep/ .mat-keyboard-wrapper{
  padding: 5px !important;
}

/deep/ mat-keyboard-container,
/deep/ .mat-keyboard
{
  min-width: 100% !important;
  width: fit-content !important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  /deep/ {
    /deep/ .mat-keyboard-wrapper{
      padding:10px !important;
    }
    mat-keyboard-container,
    .mat-keyboard {
      min-width: 576px !important;
      //width: fit-content !important;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  mat-keyboard-container,
  .mat-keyboard {
    min-width: 700px !important;
  }
}

//// Large devices (desktops, 992px and up)
//@media (min-width: 992px) {
//  mat-keyboard-container,
//  .mat-keyboard {
//    min-width: 900px !important;
//  }
//}
//
//// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) {
//  mat-keyboard-container,
//  .mat-keyboard {
//    min-width: 1000px !important;
//    max-width: 80% !important;
//  }
//}
}
@media (min-width: 1200px) {
  /deep/ .mat-keyboard-col .mat-button-wrapper{
    font-size: 1.3em !important;
  }
}

.autocomplete-option-main {
  min-width:155px;
  display: inline-block;
}
.autocomplete-option-small {
  color: #aaaaaa;
  font-style: italic;
}

