<!--<form #f="ngForm" (ngSubmit)="onSearch(f.value)">-->
<form [formGroup]="searchFormGroup" (ngSubmit)="onSearch()">

  <label class="fancy-checkbox" matTooltip="Show advanced options">
    <input
      class="ignore-btn-outside-click"
      name="showAdvancedOptions"
      formControlName="showAdvancedOptions"
      (change)="toggleAdvancedOptionsChange($event, showAdvancedOptions)"
      type="checkbox"
      [checked]="showAdvancedOptions"
    />
    <i class="ignore-btn-outside-click fa fa-fw fa-cogs unchecked"></i>
    <i class="ignore-btn-outside-click fa fa-fw fa-cogs checked"></i>
    <i class="ignore-btn-outside-click fa fa-fw fa-chevron-down unchecked chevron-rotate"></i>
    <i class="ignore-btn-outside-click fa fa-fw fa-chevron-up checked chevron-rotate"></i>
  </label>

  <label class="fancy-checkbox" matTooltip="Check to use yiddish keyboard">
    <input
      formControlName="useKeyboard"
      type="checkbox"
      [checked]="searchFormGroup.value.useKeyboard"
      />
    <i class="fa fa-fw fa-keyboard-o unchecked"></i>
    <i class="fa fa-fw fa-keyboard-o checked"></i>
  </label>

  <mat-form-field class="long-width-input">
    <input autocomplete="off" *ngIf="!searchFormGroup.value.useKeyboard" matInput formControlName="searchTerm" [matAutocomplete]="auto" placeholder="Search for lemma, fonetic form, etc..." name="lemma">
    <input autocomplete="off" *ngIf="searchFormGroup.value.useKeyboard" matInput  formControlName="searchTerm" [matAutocomplete]="auto" [matKeyboard]="'yiddish'" placeholder="Search for lemma, fonetic form, etc..." name="lemma">

    <!-- CREATE AUTO COMPLETE PANEL WITH OPTIONS. -->
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let opt of autoCompleteOptions" [value]="opt">
        {{ opt }}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>


  <button type="submit" mat-raised-button color="primary"><i class="fa fa-search"></i> Search</button>
</form>


<mat-expansion-panel #panel
                     class="advanced-search-panel"
                     [ngClass]="{'floating': floatingAdvancedSearchPanel}"
                     (clickOutside)="onClickedOutsideAdvancedSearchPanel($event)"
                     [delayClickOutsideInit]="true">
  <app-search #advancedFilters></app-search>
</mat-expansion-panel>

