<form #f="ngForm" (ngSubmit)="onSearch(f.value)">

  <label class="fancy-checkbox" matTooltip="Show advanced options">
    <input
      class="ignore-btn-outside-click"
      name="showAdvancedOptions"
      [(ngModel)]="showAdvancedOptions"
      (change)="toggleAdvancedOptionsChange($event, showAdvancedOptions)"
      type="checkbox"
      [checked]="showAdvancedOptions"
    />
    <i class="ignore-btn-outside-click fa fa-fw fa-cogs unchecked"></i>
    <i class="ignore-btn-outside-click fa fa-fw fa-cogs checked"></i>
    <i class="ignore-btn-outside-click fa fa-fw fa-chevron-down unchecked chevron-rotate"></i>
    <i class="ignore-btn-outside-click fa fa-fw fa-chevron-up checked chevron-rotate"></i>
  </label>

  <label class="fancy-checkbox" matTooltip="Check to use yiddish keyboard">
    <input
      name="showYiddishKeyboard"
      [(ngModel)]="useKeyboard"
      (change)="showKeyboardSelectorClicked($event, useKeyboard)"
      type="checkbox"
      [checked]="useKeyboard"
      />
    <i class="fa fa-fw fa-keyboard-o unchecked"></i>
    <i class="fa fa-fw fa-keyboard-o checked"></i>
  </label>

  <mat-form-field class="long-width-input">
    <input *ngIf="!useKeyboard" matInput placeholder="Search for lemma, fonetic form, etc..." name="lemma" ngModel>
    <input *ngIf="useKeyboard" matInput [matKeyboard]="'yiddish'" placeholder="Search for lemma, fonetic form, etc..." name="lemma" ngModel>
  </mat-form-field>


  <button type="submit" mat-raised-button color="primary"><i class="fa fa-search"></i> Search</button>
</form>



<mat-expansion-panel  (clickOutside)="onClickedOutsideAdvancedSearchPanel($event)" [delayClickOutsideInit]="true" #panel class="advanced-search-panel" >
  <app-search #advancedFilters></app-search>
</mat-expansion-panel>

