.long-width-input{
  min-width: 300px;
}

.fancy-checkbox i {
  font-size: 1.3em;
  color: #3f51b5;
  cursor: pointer;

  margin: 5px 2px -2px 2px;
}
.fancy-checkbox i.unchecked {
  font-size: 1em;
  color: rgb(178, 178, 178);

  margin: 5px;
}
.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
  display: none;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .checked
{
  display: inline-block;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked
{
  display: none;
}
