/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-group{
  margin-bottom: .5rem;
}

.small-margin{
  margin: 10px;
}
.full-width{
  width: 100%;
}
.main-content{
  padding-top: 15px;
}

.mat-select-content{
  z-index: 10000;
}

/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar-track
{
  border-radius: 2px;
  background-color: #ddd;
}

::-webkit-scrollbar
{
  width: 4px;
  height: 4px;
  background-color: #ddd;
}

::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  background-color: #3f51b5;
}

