.app-container{
  height: 100%;
  padding-top: 62px;
}
.sidebar-list{
  padding-top: 65px;
}

.option-area{
  background-color: white;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.12);
  padding-right: 0;
  padding-left: 0;
  z-index: 2000;
  position:fixed;
  top: 62px;
  min-height: calc(100vh - 62px);
}
.option-list{
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.option-list.no-content{
  height: calc(100vh - 70px - 84px);
}
.option-list a.active-link{
  color: white;
  background-color: rgba(46, 59, 137, 0.6);
}

.option-list .option-list-item.mat-list-item{
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.options-title{
  text-align: center;
  padding: 15px;
}

.main-row {
  min-height: 99vh;
}
.offset-top{
  padding-top: 72px;
}

/deep/ .small-toggle-btn.mat-button-toggle.mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
  line-height: unset;
  padding: 0 5px;
}
