@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~variables.scss";

.app-container{
  height: 100%;
  padding-top: 62px;
}
.sidebar-list{
  padding-top: 65px;
}

.option-area{
  background-color: white;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.12);
  padding-right: 0;
  padding-left: 0;
  z-index: 10;
  position:fixed;
  top: 62px;
  min-height: calc(100vh - 62px);
  transition: transform ease-in-out .5s;
}


.show-side-bar-area{
  z-index: 3001;
  position:fixed;
  top: 0px;
  left: 0px;
  font-size: 1.4em;
  color: white;

  transition: opacity .5s ease-in-out;
  &.hidden {
    z-index: 0;
    opacity: 0;
  }

  .button-text{
    display: none;
    //visibility: hidden;
  }
  .show-hide-wordlist-btn{
    background-color: transparent;
    padding: 5px 5px;
    margin: 5px 5px 5px 0;
    color: #ffffff;
    border-radius: 0 20px 20px 0;
  }
}
@media(min-width: 992px){
  .show-side-bar-area{
    font-size: 1em;
    top: 62px;
    left: unset;
    .button-text{
      display: initial;
      //visibility: initial;
    }
    .show-hide-wordlist-btn{
      background-color: #dcdcdc;
      padding: 5px 5px;
      margin: 5px 5px 5px 0;
      color: #525252;
      border-radius: 0 20px 20px 0;
    }
  }

}

.option-area.hidden{
  transform: translate(-100%);
}
.option-list{
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.option-list.no-content{
  height: calc(100vh - 70px - 84px);
}

.option-list {
  a.active-link {
    color: white;
    background-color: $primary-color;
  }
  a:hover {
    color: white;
    background-color: lighten($primary-color, 20%);
  }
}

.option-list .option-list-item.mat-list-item{
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
}

.option-list .option-list-item.mat-list-item.underlist-item{
  height: 25px;
  margin-left: 25px;
  line-height: 0.8em;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
}

.options-title{
  text-align: center;
  padding: 15px;
}

.main-row {
  min-height: 99vh;
}
.offset-top{
  padding-top: 10px;
}

@include media-breakpoint-up(lg) {
  .offset-top{
    padding-top: 72px;
  }
}

/deep/ .small-toggle-btn.mat-button-toggle.mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
  /*line-height: unset;*/
  padding: 0 5px;
  line-height: 36px;
}

.show-hide-wordlist-btn{
  font-size: 1.1em;
  width: 100%;
  background-color: #dcdcdc;
  margin-bottom: 10px;
  
  &.hidden {
    display: none;
  }
}
.show-hide-wordlist-btn .fa-chevron-left{
  position: relative;
  top: -1px;
  font-size: 0.9em;
}
.animate-flex,
.right-area{
  transition-duration: 200ms;
  transition-delay: 1ms;
  transition: width 0.5s, height 0.5s, max-width 0.5s, max-height 0.5s, flex 0.5s;
  transition-timing-function: ease-in-out;
}

/deep/ .mat-tooltip-top-fix{
  z-index: 2001;
}

.button-toggle-selector-names-style {
  width: 100%;

  mat-button-toggle {
    width: 100%;
  }
}


.expand-btn{
  color: white;
  position: absolute;
  padding: 0;
  border: 0;
  transition: width .1s ease-in-out;
  background-color: #ececeb;
  text-align: right;
}
.expand-btn .fa{
  font-size: 0.5em;
  transition: font-size .1s ease-in-out, height .1s ease-in-out, width .1s ease-in-out;
}
.expand-btn:hover .fa{
  font-size: 1em;
}

.expand-btn:focus{
  outline: 0;
}

.expand-left{
  cursor: pointer;
  top: 0;
  left: 100%; // align to right side
  height: 100%;
  width: 15px;
  text-align: center;

  &:hover {
    width: 20px;
  }

  i.fa {
    width: 1em;
    transition: width .1s ease-in-out;
  }

}
$size: 2rem;
.expand-left:hover i.fa{
  border: 0;
  background: #ececeb;
  color: white;

  height: $size * 2;
  width: $size;

  border-bottom-right-radius: $size;
  border-top-right-radius: $size;

  padding-top: 1.5rem;
}
