<!--<app-header></app-header>-->

<div class="container-fluid app-container">
  <div class="row">
    <div class="col-12">

      <div class="row">
        <div class="show-side-bar-area">
          <button mat-button class="show-hide-wordlist-btn"  (click)="showSideBar()" >{{ 'wordlist' | translate }}: <i class="fa fa-chevron-right"></i></button>
        </div>

        <!--SIDE BAR-->
        <div class="col-12 col-sm-4 col-lg-2 option-area" [ngClass]="{'hidden': !showingSideBar}"> <!-- position set as fixed -->

          <div [hidden]="sidebarContent.length < 1" class="options-title">
            <button mat-button class="show-hide-wordlist-btn" (click)="hideSideBar()"><i class="fa fa-chevron-left"></i> {{ 'wordlist' | translate }}:</button>

            <!--<span>-->
              <!--<i>loaded: <span [hidden]="!sideBarListLoading">...</span><span [hidden]="sideBarListLoading">{{ recordsInfo }}</span></i>-->
            <!--</span>-->
            <!--(change)="selectedListStyle = $event.source.checked"-->

            <mat-button-toggle-group
              [value]="sideBarListStyle"
              (change)="onSelectedListStyleChange($event)"
              class="button-toggle-selector-names-style" name="fontStyle" aria-label="Font Style" vertical>
              <mat-button-toggle class="small-toggle-btn" [checked]="true" value="yivo">YIVO</mat-button-toggle>
              <mat-button-toggle class="small-toggle-btn" value="yiddish">Yiddish</mat-button-toggle>
              <mat-button-toggle class="small-toggle-btn" value="philological">Philological</mat-button-toggle>
            </mat-button-toggle-group>

          </div>
          <mat-nav-list #sidebarList class="option-list" [ngClass]="(sidebarContent.length < 1)?'':'no-content'" (appScrollBottom)="optionListScrollBottom($event)">
            <div class="no-gutters" *ngFor="let item of sidebarContent">
              <a mat-list-item
                 class="option-list-item"
                 [routerLink]="[item.id]"
                 routerLinkActive="active-link"

                 matTooltip="{{item.lemma.length > 23 ? item.lemma : '' }}"
                 [matTooltipPosition]="'right'"
                 [matTooltipClass]="'mat-tooltip-top-fix'"
              >
                {{ item.lemma}}
              </a>


              <a *ngFor="let temp of ['Yiddish Primary Lemma', 'Philological', 'Morphological']" mat-list-item
                 class="option-list-item underlist-item"
                 routerLinkActive="active-link"
                 matTooltip="{{item.lemma.length > 23 ? item.lemma : '' }}"
                 [matTooltipPosition]="'right'"
                 [matTooltipClass]="'mat-tooltip-top-fix'">
                {{temp}}
              </a>
              <mat-divider></mat-divider>
            </div>


            <a [hidden]="!sideBarListLoading" mat-list-item class="option-list-item loading-option-list">
              <mat-spinner diameter="30" strokeWidth="3"></mat-spinner>
            </a>
          </mat-nav-list>
        </div>

        <!--SIDE BAR END-->

        <div class="col-12 right-area offset-top" [ngClass]="{'col-sm-8 offset-sm-4 col-lg-10 offset-lg-2': showingSideBar}">
          <app-right-area></app-right-area>
        </div>

      </div>
    </div>
  </div>
</div>
