.app-container{
  height: 100%;
  padding-top: 62px;
}
.sidebar-list{
  padding-top: 65px;
}

.option-area{
  background-color: white;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.12);
  padding-right: 0;
  padding-left: 0;
  z-index: 2000;
  position:fixed;
  top: 62px;
  min-height: calc(100vh - 62px);
  transition: transform ease-in-out .5s;
}

.show-side-bar-area{
  z-index: 2000;
  position:fixed;
  top: 62px;
}

.show-side-bar-area .show-hide-wordlist-btn{
  background-color: transparent;
  padding: 10px 10px;
}

.option-area.hidden{
  transform: translate(-350px);
  /*left: -30%;*/
}
.option-list{
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.option-list.no-content{
  height: calc(100vh - 70px - 84px);
}
.option-list a.active-link{
  color: white;
  background-color: rgba(46, 59, 137, 0.6);
}

.option-list .option-list-item.mat-list-item{
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
}

.option-list .option-list-item.mat-list-item.underlist-item{
  height: 25px;
  margin-left: 25px;
  line-height: 0.8em;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
}

.options-title{
  text-align: center;
  padding: 15px;
}

.main-row {
  min-height: 99vh;
}
.offset-top{
  padding-top: 72px;
}

/deep/ .small-toggle-btn.mat-button-toggle.mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
  /*line-height: unset;*/
  padding: 0 5px;
  line-height: 36px;
}
@media (min-width: 1350px) {
/deep/ .mat-button-toggle-vertical{
  flex-flow: row;
}
}


.show-hide-wordlist-btn{
  font-size: 1.1em;
  width: 100%;
  background-color: #dcdcdc;
  margin-bottom: 10px;
}
.show-hide-wordlist-btn .fa-chevron-left{
  position: relative;
  top: -1px;
  font-size: 0.9em;
}
.animate-flex,
.right-area{
  transition-duration: 200ms;
  transition-delay: 1ms;
  transition: width 0.5s, height 0.5s, max-width 0.5s, max-height 0.5s, flex 0.5s;
  transition-timing-function: ease-in-out;
}

/deep/ .mat-tooltip-top-fix{
  z-index: 2001;
}
