
<app-header [showSearch]="true"></app-header>

<div class="app-container">
  <div class="row main-row">
    <div class="col-12">
      <!--<div class="">-->
            <div class="row main-row">
              <div class="col-12 col-sm-3 col-lg-2 option-area">
                <div [hidden]="sidebarContent.length < 1" class="options-title">
                  <h5>Options:</h5>
                  <i>loaded: {{ recordsInfo }}</i>
                </div>
                <mat-nav-list #sidebarList class="option-list" (appScrollBottom)="optionListScrollBottom($event)">
                  <a mat-list-item class="option-list-item" [routerLink]="[item.id]"  routerLinkActive="active-link" *ngFor="let item of sidebarContent"  matTooltip="{{item.lemma.length > 23 ? item.lemma : '' }}">
                    {{ item.lemma.length > 23 ? item.lemma.slice(0, 20) + '...' :  item.lemma}}
                  </a>
                  <a [hidden]="!sideBarListLoading" mat-list-item class="option-list-item loading-option-list">
                    <mat-spinner diameter="30" strokeWidth="3"></mat-spinner>
                  </a>
                </mat-nav-list>
              </div>
              <div class="col-12 col-sm-9 col-lg-10 offset-top">
                <app-right-area></app-right-area>
              </div>
            </div>
      <!--</div>-->
    </div>
  </div>
</div>
