nav{
  background-color: rgb(46, 59, 136);
}

nav .nav-button {
  color: white;
}

nav .nav-button.logo{
  font-size: 1.05em;
}

nav i{
  color: white;
}

.advanced-search-panel{
  z-index: 1000;
  position: fixed;
  width: 90%;
  top: 50px;
  right: 5px;
}
@media (min-width: 768px) {
  .advanced-search-panel{
    width: 50%;
    top: 70px;
    right: 15px;
  }
}

@media (min-width: 992px) {
  .advanced-search-panel{
    width: 30%;
    top: 70px;
    right: 15px;
  }
}

.advanced-search-panel .mat-expanded{
  padding-top: 40px;
}

::ng-deep .advanced-search-form > .mat-input-wrapper.mat-form-field-wrapper > .mat-input-underline.mat-form-field-underline{
  background-color: white;
}

::ng-deep .advanced-search-form .mat-input-placeholder{
  color: rgba(255, 255, 255, 0.3);
}
::ng-deep .advanced-search-form .mat-form-field-underline{
  background-color: rgba(255, 255, 255, 0.3);;
}
.advanced-search-form{
  margin-top: -10px;
  margin-bottom: -15px;
}
.advanced-search-form input{
  color: white;

}

.fixed-top{
  z-index: 1000;
}

.lemma-search-form{
  /*display: inherit;*/
}

.fill-remaining-space{
  flex: 1 1 auto;
}

