<nav class="navbar fixed-top navbar-expand-lg navbar-dark primary-navbar-row">
  <a class="navbar-brand" href="#">The Online Dictionary of Polish Borrowings in Yiddish</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <span class="d-sm-none d-md-block fill-remaining-space"></span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <span class="d-sm-none d-md-block fill-remaining-space"></span>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/about"><button class="nav-button" type="button" color="primary" mat-button>HOME</button></a>
      </li>
      <li class="nav-item">
      <a routerLink="/about"><button class="nav-button" type="button" color="primary" mat-button>PROJECT SITE</button></a>
      </li>
      <!--<li class="nav-item">-->
      <!--<a routerLink="/about"><button class="nav-button" type="button" color="primary" mat-button>DICTIONARY HOME</button></a>-->
      <!--</li>-->
      <li class="nav-item">
      <a routerLink="/about"><button class="nav-button" type="button" color="primary" mat-button>ABOUT</button></a>
      </li>


      <!--<li class="nav-item dropdown">-->
        <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--Dropdown-->
        <!--</a>-->
        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<div class="dropdown-divider"></div>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--</div>-->
      <!--</li>-->
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav>


<nav class="navbar navbar-toggleable-sm bg-inverse navbar-inverse fixed-top second-navbar-row" [ngClass]="{'hidden': hideSecondRow}">
  <div class="second-navbar-content">

    <div class="advanced-search-form">
      <app-input-with-keyboard  class="text-center center justify-content-center"></app-input-with-keyboard>
    </div>
  </div>


</nav>
