<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> Yiddish wordnet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<mat-expansion-panel #panel [disabled]="true" class="advanced-search-panel">
  <mat-expansion-panel-header>
    <form #lemmaSearch="ngForm" class="lemma-search-form" (ngSubmit)="simpleSearch(lemmaSearch.value)">
    <mat-panel-title>
      <mat-form-field [hidden]="isPanelOpened">
        <input #lemmaInput matInput placeholder="lemma, fonetical form..." value="" name="lemma" ngModel>
      </mat-form-field>

    </mat-panel-title>
    <mat-panel-description class="float-right">
      <button  [hidden]="isPanelOpened" type="button" color="primary" mat-button type="submit">
        <i class="fa fa-search" aria-hidden="true"></i> Search
      </button>

    </mat-panel-description>
    </form>
    <span class="fill-remaining-space"></span>
    <button class="float-right" type="button" color="primary" mat-button (click)="panelToggle()">
      Show advanced options <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </button>
  </mat-expansion-panel-header>

  <app-left-area></app-left-area>
</mat-expansion-panel>

