<div class="form-container">
<form #form="ngForm">
  <br>

  <label class="selector-label">Search by string type:</label>
  <mat-checkbox class="vertical-padding" *ngFor="let opt of searchByString['searchOptions']" [name]="opt.id" ngModel ngModelGroup="selectedSearchTypes">{{ opt.name }}</mat-checkbox>

  <hr>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Narrow down
        </mat-panel-title>
        <mat-panel-description>
          (specify additional filters)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!--abc-->
      <mat-form-field class="vertical-padding" *ngFor="let searchFieldName of searchKeys">
        <mat-select placeholder="{{searchFields[searchFieldName]['name'] }}"  [name]="searchFieldName" ngModel>
          <mat-option [value]=""></mat-option>
          <mat-option *ngFor="let opt of searchFields[searchFieldName]['searchOptions']" [value]="opt.id"> {{opt.name}} </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-expansion-panel>
  </mat-accordion>
</form>
</div>
